.App {
  text-align: center;
  padding: 2rem;
}

.video-input {
  margin-bottom: 1rem;
}

.video-player {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}


.video-player div {
  width: 100% !important;
  position: relative !important;
}

.video-player div video {
  width: 100%;
}

.video-player .message {
  background: red;
  position: absolute !important;
  top: 0;
  height: 100%;
  font-size: 30px;
  color: white;
}